.menu { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  place-items: center;
}

.mcard{width: 60%;
  height: 90%;
  display: grid;
  grid-template-rows: auto auto auto;
  justify-items: center;
  background-color: rgba(175, 148, 83,0.05);
  margin: 0.5rem auto 2rem auto;
  padding: 2rem 1rem;
  border-radius: .5rem;

  &__image{
    width: 200px;
    height: 200px;
    border-radius: 180px;}
  }

